body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #38bdf8;
}

input {
  width: 90%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-size: 16px;
}
